
.Main-Tab-Container {
    padding-top: 7rem;
}
.nav-tabs {  
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.904);
    font-family: 'Lato', sans-serif;
}
.nav-item {
    background-color: rgb(50, 150, 145);
    border-radius: 0px!important;
    width: 20%;
    color: whitesmoke;
    font-size: 16px;
    padding: 2px 2px 2px 2px;
    margin: auto;
    border-left: solid 1px rgba(0, 0, 0, 0.404)!important;
    border-right: solid 1px rgba(0, 0, 0, 0.404)!important;
    border-top: solid 1px rgba(0, 0, 0, 0.404)!important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.404)!important;
    font-family: 'Lato', sans-serif;
}
.nav-item:hover {
    color: whitesmoke;
    background-color: rgb(84, 179, 174);  
}
.nav-item.active {
    color: rgba(0, 0, 0, 0.904)!important;
    background-color: rgb(84, 179, 174)!important;
}
.card-container-entry {
    border-radius: 0px!important;
}
.card-entry {
    border-radius: 0px!important;
    background-color: rgba(192, 221, 238, 0.774)!important;
}

.center {
    display:inline-block;
    margin: 0 auto;
}

.entry-footer {
    background-color:rgba(0, 0, 0, 0.904);
    border-radius: 0px!important;
}
.entry-header {
    background-color: rgb(255, 255, 255)!important;
    border-radius: 0px!important;
    margin: -1px -1px 0 -1px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.404);
    border-left: solid 1px rgba(0, 0, 0, 0.404);
    border-right: solid 1px rgba(0, 0, 0, 0.404);
    font-family: 'Lato', sans-serif!important;
    background-color: rgba(155, 195, 218, 0.774)!important;
}


.dataEntryError {
    background-color: lightcoral;
}

.dataEntrySuccess {
    background-color: lightgreen;
}