
.Main-Tab-Container {
    padding-top: 7rem;
}
.nav-tabs {  
    display: flex;
    justify-content: center;
    background-color: #1b262c;
    font-family: 'Lato', sans-serif;
}
.nav-item {
    background-color: #1b262c;
    border-radius: 0px!important;
    color: whitesmoke;
    font-size: 16px;
    padding: 2px 2px 2px 2px;
    margin: auto;
    border-left: solid 1px rgba(0, 0, 0, 0.404)!important;
    border-right: solid 1px rgba(0, 0, 0, 0.404)!important;
    border-top: solid 1px rgba(0, 0, 0, 0.404)!important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.404)!important;
    font-family: 'Lato', sans-serif;
}
.nav-link:hover {
    text-decoration: none!important;
}
#controlled-tab-example-tab-home {
    color: whitesmoke;
    width: 20%;
    font-family: 'Lato', sans-serif;
}
#controlled-tab-example-tab-blood {
    color: whitesmoke;
    width: 20%;
    font-family: 'Lato', sans-serif;
}
#controlled-tab-example-tab-mood {
    color: whitesmoke;
    width: 20%;
    font-family: 'Lato', sans-serif;
}
#controlled-tab-example-tab-medications {
    color: whitesmoke;
    width: 20%;
    font-family: 'Lato', sans-serif;
}
#controlled-tab-example-tab-general {
    color: whitesmoke;
    width: 20%;
    font-family: 'Lato', sans-serif;
}
.nav-item:hover {
    color: whitesmoke;
    background-color: #0f4c75;  
}
.nav-item.active {
    color: whitesmoke!important;
    background-color: #0f4c75!important;
}
.card-container-entry {
    border-radius: 0px!important;
}
.card-entry {
    border-radius: 0px!important;
    background-color: #7092a8!important;
    opacity: 1!important;
}

.center {
    display:inline-block;
    margin: 0 auto;
}

.entry-footer {
    background-color: #1b262c;
    border-radius: 0px!important;
}
.entry-header {
    background-color: #7092a8!important;
    border-radius: 0px!important;
    margin: -1px -1px 0 -1px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.404);
    border-left: solid 1px rgba(0, 0, 0, 0.404);
    border-right: solid 1px rgba(0, 0, 0, 0.404);
    font-family: 'Lato', sans-serif!important;
    color: whitesmoke;
    font-size: 20px;
}
.dataEntryError {
    background-color: lightcoral;
}
.dataEntrySuccess {
    background-color: lightgreen;
}

.heightTitle {
    color: black;
    font-size: 1.3rem;
}