.ResetBtn {
    margin-top: 20px!important;
    display:block;
    margin: 0 auto;
    width: 220px;
}
.reset-form-login {
    margin-top: 20px;
}
.resetMsg {
    padding-top: 40px;
    font-weight: 800;
    font-size: 34px;
}
.resetSubMsg {
    padding-top: 10px;
    font-weight: 500;
}
.resetError {
    background-color: lightcoral;
}